.gallery__btn-del {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 18px;
  height: 19px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  background-image: url("../../../../accets/images/gallery-btn-del.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.6s linear;
}

.gallery__btn-del:hover {
  opacity: 0.5;
}
