.gallery__btn-like {
  display: block;
  width: 22px;
  min-width: 22px;
  height: 19px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  background-image: url('../../accets/images/gallery-btn-like.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.6s linear;
}

.gallery__btn-like:hover {
  opacity: 0.5;
}
