.modal-edit__btn-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-edit__btn-close::before,
.modal-edit__btn-close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 4px;
  background-color: var(--main-color-light);
  content: '';
}

.modal-edit__btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-edit__btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-edit__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .modal-edit__btn-close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .modal-edit__btn-close::before,
  .modal-edit__btn-close::after {
    width: 25px;
    height: 3px;
  }
}
