.popup__form-btn_inactive {
  color: var(--main-color-dark);
  background-color: var(--main-color-ligh);
  border: 1px solid var(--main-color-dark);
  opacity: 0.2;
}

.popup__form-btn_inactive:hover {
  background-color: var(--main-color-ligh);
}
