.profile__edit-avatar {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit-avatar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 30px;
  top: 0;
  bottom: 0;
  background: rgb(0 0 0 / 80%) url('../../../../accets/images/avatar-edit.svg') no-repeat center;
  background-size: 26px 26px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.profile__edit-avatar:hover::after {
  opacity: 1;
}

@media screen and (max-width: 530px) {
  .profile__edit-avatar::after {
    right: 0;
  }
}
