.profile__position {
  margin: 0;
  margin-top: 9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 530px) {
  .profile__position {
    margin-top: 9px;
    font-size: 14px;
    line-height: 17px;
  }
}
