.footer__copyright {
  margin: 0;
  color: var(--main-color-gray);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 530px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
