.popup__container {
  position: relative;
  max-width: 430px;
  box-sizing: border-box;
  padding: 35px;
  background-color: var(--main-color-light);
  border-radius: 10px;
  color: var(--main-color-dark);
  font-family: var(--main-font);
  margin: auto;
}

@media screen and (max-width: 530px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
    margin: auto;
  }
}
