.profile {
  display: flex;
  min-width: 282px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 46px;
  color: var(--main-color-light);
  font-family: var(--main-font);
}

@media screen and (max-width: 530px) {
  .profile {
    padding-bottom: 36px;
  }
}
